<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pigmate.mapper.MemberMapper">

	<select id="getMember" parameterType="String"
		resultType="com.pigmate.entity.Member">
		select * from member where mem_id = #{mem_id}
	</select>

	<insert id="join" parameterType="com.pigmate.entity.Member">
		insert into member(mem_id, mem_pw, mem_name, mem_phone, joined_at)
		values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_phone}, CURRENT_TIMESTAMP)
	</insert>
	
	<select id="login" parameterType="com.pigmate.entity.Member" resultType="com.pigmate.entity.Member">
		select * from member where mem_id = #{mem_id} and mem_pw=#{mem_pw}
	</select>
</mapper>