<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.board.mapper.AlertInfoMapper">

    <select id="findAll" resultType="kr.board.entity.Alert">
        SELECT alarm_idx AS alarmIdx,
               mem_id AS memId,
               alarm_msg AS alarmMsg,
               alarmed_at AS alarmedAt,
               farm_idx AS farmIdx,
               type AS type
        FROM alert_info
    </select>

    <insert id="insertAlert" parameterType="kr.board.entity.Alert">
        INSERT INTO alert_info
        (mem_id, alarm_msg, alarmed_at, farm_idx, type)
        VALUES (#{memId},
                #{alarmMsg}, #{alarmedAt}, #{farm_idx}, #{type})
    </insert>

    <select id="findAlertsByFarmId" parameterType="int"
            resultType="kr.board.entity.Alert">
        SELECT alarm_idx AS alarmIdx,
               mem_id AS memId,
               alarm_msg AS alarmMsg,
               alarmed_at AS alarmedAt,
               farm_idx AS farmIdx,
               type AS type
        FROM alert_info
        WHERE farm_idx = #{farm_idx}
    </select>
    
    <!-- 하루의 알람 정보 시간별로 개수 가져옴 -->
    <select id="getAlertData" parameterType="map" resultType="kr.board.entity.Alert">
	SELECT DATE_FORMAT(CONCAT(SUBSTR(MIN(alarmed_at), 1, 13), ':00:00'), '%Y-%m-%d %H:%i:%s') AS created_at, farm_idx, type, count(alarm_msg) AS count
	FROM alert_info 
	WHERE farm_idx = #{farm_idx} AND DATE(alarmed_at) = #{date}
	GROUP BY farm_idx, type, SUBSTR(alarmed_at, 1, 13)
	ORDER BY created_at ASC;
</select>


</mapper>
