<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.board.mapper.PigInfoMapper">

<select id="getWarnCountByFarmIdx" parameterType="int" resultType="kr.board.entity.PigInfo">
        SELECT created_at, warn_cnt, livestock_cnt
        FROM pig_info
        WHERE farm_idx = #{farm_idx}
    </select>

</mapper>